@charset "UTF-8";
@import url(https://allfont.es/allfont.css?fonts=holla);
/* Declaracion Variables */
/*Tamaño Fuentes */
/* Colores */
.titulosEstilo, h1, h2, h3 {
  color: black;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  padding: 20px; }

h1 {
  font-size: 4rem; }

h2 {
  font-size: 2.5rem; }

h3 {
  font-size: 2rem; }

li {
  list-style-type: none;
  display: inline;
  margin-right: 30px; }

a {
  text-decoration: none;
  font-weight: bold;
  color: black;
  display: inline-block; }

/* Estilos del menu hamburguesa */
.navbar {
  background-image: linear-gradient(to bottom, #FE3D11, #FE6111); }

.navbar-brand {
  margin: 20px 10px 20px 30px; }

.navbar-toggler {
  margin-right: 30px; }

.navbar-nav {
  font-family: "Holla", arial;
  font-size: 2rem;
  text-align: right;
  margin-right: 30px; }
  .navbar-nav a {
    text-decoration: none;
    font-weight: bold;
    color: black;
    display: inline-block; }

.galeria {
  max-width: 990px;
  max-height: 660px;
  margin: auto;
  padding: 20px; }
  .galeria .carousel-control-prev-icon, .galeria .carousel-control-next-icon {
    width: 4rem;
    height: 4rem;
    font-weight: 900; }
  .galeria .carousel-indicators {
    font-weight: 900; }

.indexMenu {
  max-width: 90%;
  margin-inline: auto;
  margin-block: 30px;
  background-color: #FEA211;
  border-radius: 0.9rem;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .indexMenu p {
    font-size: 1.4rem;
    font-weight: bold;
    text-align: center; }
  .indexMenu a {
    font-size: 1.4rem;
    text-align: center;
    background-color: #FE3D11;
    padding: 0.3rem;
    border-radius: 0.3rem;
    margin: 20px; }
    .indexMenu a:hover {
      filter: opacity(80%); }

.indexProductos {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1500px;
  margin: auto; }
  .indexProductos .container {
    padding: 0;
    max-width: 1500px;
    width: auto; }
    .indexProductos .container img {
      display: block;
      margin-bottom: 20px; }

.indexMapa {
  margin-block: 30px; }

@media screen and (max-width: 1401px) {
  .indexProductos img {
    width: 300px; } }

@media screen and (max-width: 948px) {
  .indexMenu {
    max-width: 100%; }
    .indexMenu a {
      font-size: 1.2rem; }
  .indexProductos h2 {
    font-size: 1.6rem; }
  .indexProductos img {
    width: 300px;
    margin: auto; } }

footer {
  display: flex;
  flex-direction: column;
  background-color: black;
  height: auto;
  /* Contenedor padre de logo y redes */ }
  footer .footerInicio {
    display: flex;
    justify-content: space-between; }
    footer .footerInicio .logoFooter {
      margin: 20px 10px 20px 130px; }
    footer .footerInicio .redes {
      color: white;
      width: 250px;
      height: auto;
      margin: 55px 130px 20px 10px;
      text-align: center; }
      footer .footerInicio .redes h4 {
        margin-bottom: 30px; }
      footer .footerInicio .redes li a {
        color: white; }
  footer .footerFinal {
    text-align: center;
    color: #FE6111;
    font-weight: bold;
    font-size: 1rem; }

@media screen and (max-width: 900px) {
  footer .footerInicio .logoFooter {
    margin-left: 30px; }
  footer .footerInicio .redes {
    margin-right: 30px; }
    footer .footerInicio .redes h4 {
      font-size: 1.2rem; } }

h2 {
  margin-top: 20px;
  color: #FE8311; }

.conoce p {
  max-width: 500px;
  font-size: 1.4rem;
  text-align: justify; }

.opinion {
  margin-bottom: 100px;
  align-items: center; }
  .opinion .op {
    background-color: #FEBD11;
    margin-inline: 20px;
    padding: 50px;
    border-radius: 10px; }
    .opinion .op p {
      font-size: 1.2rem;
      text-align: justify;
      color: black;
      font-weight: 500; }

@media screen and (max-width: 991px) {
  h2 {
    font-size: 2rem; }
  .conoce p {
    font-size: 1.2rem;
    padding-top: 30px; }
  .opinion .op {
    margin-bottom: 30px; } }

.menu {
  max-width: 100%;
  margin-right: 3rem;
  padding-top: 2rem;
  position: center; }
  .menu .row {
    justify-content: space-evenly; }
    .menu .row article {
      display: block;
      background-color: #FEA211;
      height: auto;
      text-align: left;
      margin: 2%;
      padding: 2% 2%;
      border: 2px solid #FE6111;
      opacity: 0.7; }
      .menu .row article p {
        color: black; }

.fondo1 {
  background-image: url(../img/sandwich/ternera.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 65%; }

.fondo2 {
  background-image: url(../img/ensaladas/salpicortada.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 65%; }

* {
  margin: 0;
  padding: 0; }

body {
  font-family: "Holla", arial;
  background-color: #FEBF113D; }
