@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");
/* Declaracion Variables */
/*Tamaño Fuentes */
/* Colores */
.titulosEstilo, h1, h2, h4 {
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  padding: 20px; }

h1 {
  color: black;
  font-size: 4rem; }

h2 {
  color: #FE8311;
  font-size: 2.5rem;
  margin-top: 20px; }

h4 {
  color: black;
  font-size: 1.6rem; }

li {
  list-style-type: none;
  display: inline;
  margin-right: 30px; }

a {
  text-decoration: none;
  font-weight: bold;
  color: black;
  display: inline-block; }

/* Estilos del menu hamburguesa */
.navbar {
  background-image: linear-gradient(to bottom, #FE3D11, #FE6111); }

.navbar-brand {
  margin: 10px 10px 10px 30px; }

.navbar-toggler {
  margin-right: 30px;
  width: 51px;
  height: 35px; }
  .navbar-toggler .navbar-toggler-icon {
    width: 25px;
    height: 25px; }

.navbar-nav {
  font-family: "Roboto Slab", serif;
  font-size: 1.6rem;
  text-align: right;
  margin-right: 30px; }
  .navbar-nav a {
    text-decoration: none;
    font-weight: bold;
    color: black;
    display: inline-block; }

@media screen and (max-width: 767px) {
  .navbar-brand img {
    width: 90px; }
  .navbar-nav .nav-link {
    line-height: 15px;
    font-size: 1.2rem; } }

.galeria {
  padding: 50px; }
  .galeria .carousel {
    max-width: 1000px;
    margin: auto; }
  .galeria .carousel-control-prev-icon, .galeria .carousel-control-next-icon {
    width: 4rem;
    height: 4rem;
    font-weight: 900; }
  .galeria .carousel-indicators {
    font-weight: 900; }

.indexProductos {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .indexProductos .container {
    padding: 0;
    max-width: 1500px;
    width: auto; }
    .indexProductos .container img {
      display: block;
      margin-bottom: 20px;
      box-shadow: 0 4px 10px black; }
      .indexProductos .container img:hover {
        transform: translateY(-4px);
        box-shadow: 0 18px 14px black;
        transition: all 0.25s ease; }

.indexMapa {
  padding-block: 30px;
  max-width: 97%;
  margin: auto; }

@media screen and (max-width: 1199px) {
  .indexProductos img {
    width: 300px; } }

@media screen and (max-width: 991px) {
  .indexProductos h2 {
    font-size: 1.6rem; }
  .indexProductos img {
    width: 200px; } }

@media screen and (max-width: 767px) {
  .galeria {
    padding: 0;
    margin-top: 20px; }
  .indexProductos img {
    width: 320px;
    margin: auto; } }

footer {
  display: flex;
  flex-direction: column;
  background-color: black;
  height: auto; }
  footer .footerInicio {
    display: flex;
    justify-content: space-around;
    margin-block: 40px; }
    footer .footerInicio .redes {
      color: white;
      width: 250px;
      height: auto;
      padding-top: 30px;
      text-align: center; }
      footer .footerInicio .redes h5 {
        margin-bottom: 30px; }
      footer .footerInicio .redes li a {
        color: white; }
  footer .footerFinal {
    color: #FE6111;
    font-size: 1rem;
    font-weight: bold;
    text-align: center; }

@media screen and (max-width: 767px) {
  .footerInicio .logoFooter {
    margin-left: 30px;
    margin-top: 30px; }
    .footerInicio .logoFooter img {
      width: 90px; }
  .footerInicio .redes {
    margin-inline: 20px; }
    .footerInicio .redes h5 {
      font-size: 1rem; } }

.conoce p {
  font-size: 1.4rem;
  text-align: center;
  padding: 30px;
  margin: 0; }

.opinion {
  margin-bottom: 30px; }
  .opinion .op {
    background-color: #FEBD11;
    padding: 50px;
    border-radius: 10px;
    margin-bottom: 30px; }
    .opinion .op p {
      font-size: 1.4rem;
      text-align: center;
      color: black;
      font-weight: 500; }

@media screen and (max-width: 575px) {
  h2 {
    font-size: 2rem; }
  .conoce p {
    font-size: 1rem; }
  .opinion .op {
    margin-inline: 3px;
    padding: 20px; }
    .opinion .op p {
      font-size: 1rem; } }

.menu {
  max-width: 100%; }
  .menu .row {
    justify-content: space-evenly; }
    .menu .row article {
      display: block;
      background-color: rgba(245, 245, 220, 0.473);
      height: auto;
      margin: 2%;
      padding: 2%;
      border: 3px solid #FE6111; }
      .menu .row article p {
        color: black;
        font-size: 1.4rem;
        font-weight: 500; }

.fondo, .fondo1, .fondo2 {
  margin-top: 20px;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 67%; }

.fondo1 {
  background-image: url(../img/menusandwich.jpg); }

.fondo2 {
  margin-bottom: 20px;
  background-image: url(../img/menuensalada.jpg); }

@media screen and (max-width: 767px) {
  .menu .row article p {
    font-size: 1.2rem; }
  .menu .row article h4 {
    font-size: 1.4rem; } }

@media screen and (max-width: 575px) {
  .menu .row article p {
    font-size: 1rem; }
  .menu .row article h4 {
    padding: 0;
    font-size: 1.2rem; } }

.produSeccion {
  margin-inline: 50px;
  margin-bottom: 40px; }
  .produSeccion h2 {
    text-align: left;
    padding: 0; }

.card-title {
  font-weight: 600;
  text-align: center; }

.card-text {
  text-align: center; }

@media screen and (max-width: 767px) {
  h1 {
    font-size: 2.5rem; }
  .produSeccion h2 {
    text-align: center;
    font-size: 1.6rem; } }

@media screen and (max-width: 575px) {
  h1 {
    font-size: 1.6rem; }
  .produSeccion {
    margin-inline: 10px; }
    .produSeccion h2 {
      font-size: 1.2rem; } }

.contacto {
  max-width: 90%;
  margin-inline: auto;
  margin-block: 20px; }

.formulario {
  max-width: 500px;
  margin: auto;
  margin-bottom: 30px; }
  .formulario .comentario {
    height: 150px; }
  .formulario .btn {
    background-color: #FE8311;
    padding: 12px;
    font-weight: 600; }

@media screen and (max-width: 991px) {
  h1 {
    font-size: 2.5rem; } }

@media screen and (max-width: 767px) {
  h2 {
    font-size: 1.6rem; }
  .btn {
    width: 75px; } }

@media screen and (max-width: 575px) {
  h2 {
    font-size: 1.2rem; }
  .formulario {
    max-width: 95%; } }

* {
  margin: 0;
  padding: 0; }

body {
  font-family: "Roboto Slab", serif;
  background-color: #FEBF113D; }
