// Estilo seccion Conoce
.conoce {
    p {
        font-size: $size-5;
        text-align: center;
        padding: 30px;
        margin: 0;
    }
}

// Estilo seccion Opinion
.opinion {
    margin-bottom: 30px;

    .op {
        background-color: $amarillo-claro;
        padding: 50px;
        border-radius: 10px;
        margin-bottom: 30px;

        p {
            font-size: $size-5;
            text-align: center;
            color: $negro;
            font-weight: 500;
        }
    }
}

//Estilos para adaptarse a distintos dispositivos
@media screen and (max-width: 575px) {
    h2 {
        font-size: $size-3;
    }

    .conoce {
        p {
            font-size: $size-7;
        }
    }

    .opinion {
        .op {
            margin-inline: 3px;
            padding: 20px;

            p{
                font-size: $size-7;
            }
        }
    }
}
