.contacto {
    max-width: 90%;
    margin-inline: auto;
    margin-block: 20px;
}

.formulario {
    max-width: 500px;
    margin: auto;
    margin-bottom: 30px;

    .comentario {
        height: 150px;
    }

    .btn {
        background-color: $naranja-amarillo;
        padding: 12px;
        font-weight: 600;
    }
}

@media screen and (max-width: 991px){
    h1 {
        font-size: $size-2;
    }
}

@media screen and (max-width: 767px) {
    h2 {
        font-size: $size-4;
    }

    .btn {
        width: 75px;
    }
}

@media screen and (max-width: 575px) {
    h2 {
        font-size: $size-6;
    }

    .formulario {
        max-width: 95%;
    }
}
