// Estilos footer
footer {
    display:flex;
    flex-direction: column;
    background-color: $negro;
    height: auto;

    // Contenedor padre de logo y redes
    .footerInicio {
        display:flex;
        justify-content: space-around;
        margin-block: 40px;

        // Estilo redes
        .redes {
            color: $blanco;
            width: 250px;
            height: auto;
            padding-top: 30px;
            text-align: center;

            h5 {
                margin-bottom: 30px;
            }

            li a {
                color: $blanco;
            }
        }
    }

    // Estilo pie de página
    .footerFinal{
        @include texto($naranja-medio, $size-7, bold);
        text-align: center;
    }
}

//Estilos para adaptarse a distintos dispositivos
@media screen and (max-width: 767px) {
    .footerInicio {
        .logoFooter {
            margin-left: 30px;
            margin-top: 30px;

            img {
                width: 90px;
            }
        }

        .redes {
            margin-inline: 20px;

            h5 {
                font-size: $size-7;
            }
        }
    }
}
