footer {
    display:flex;
    flex-direction: column;
    background-color: black;
    height: auto;

    /* Contenedor padre de logo y redes */
    .footerInicio {
        display:flex;
        justify-content: space-between;

        .logoFooter {
            margin: 20px 10px 20px 130px;
        }

        .redes {
            color:white;
            width: 250px;
            height: auto;
            margin: 55px 130px 20px 10px;
            text-align: center;

            h4{
                margin-bottom: 30px;
            }

            li a{
                color: white;
            }
        }
    }
    .footerFinal{
        text-align: center;
        color:$naranja-medio;
        font-weight: bold;
        font-size: $size-7;
    }
}

@media screen and (max-width: 900px) {
   footer {
       .footerInicio {
            .logoFooter {
               margin-left: 30px;
            }
            .redes {
                margin-right: 30px;

                h4 {
                    font-size: $size-6;
                  }
            }
        }
    }
}