/* Estilos del menu hamburguesa */
.navbar {
    background-image: linear-gradient(to bottom, $naranja-oscuro, $naranja-medio);
}

.navbar-brand {
    margin: 10px 10px 10px 30px;
}

.navbar-toggler {
    margin-right: 30px;
}

.navbar-nav{
    font-family: $fuente;
    font-size: $size-4;
    text-align: right;
    margin-right: 30px;

    a {
        text-decoration: none;
        font-weight: bold;
        color: black;
        display: inline-block;
    }
}


@media screen and (max-width: 767px) {
    .navbar-brand {
        img {
            width: 90px;
        }
    }
    .navbar-nav{
        .nav-link {
            line-height: 30px;
            font-size: $size-6;
        }
    }
}