/* Estilos del menu hamburguesa */
.navbar {
    background-image: linear-gradient(to bottom, $naranja-oscuro, $naranja-medio);
}

.navbar-brand {
    margin: 10px 10px 10px 30px;
}

.navbar-toggler {
    margin-right: 30px;
    width: 51px;
    height: 35px;

    .navbar-toggler-icon {
        width: 25px;
        height: 25px;
    }
}

.navbar-nav{
    font-family: $fuente;
    font-size: $size-4;
    text-align: right;
    margin-right: 30px;

    a {
        text-decoration: none;
        font-weight: bold;
        color: black;
        display: inline-block;
    }
}

//Estilos para adaptarse a distintos dispositivos
@media screen and (max-width: 767px) {
    .navbar-brand {
        img {
            width: 90px;
        }
    }
    .navbar-nav{
        .nav-link {
            line-height: 15px;
            font-size: $size-6;
        }
    }
}
