.indexMenu {
    height: 745px;
    background-image: url(../img/sandwich/cheddar.jpg);
    background-size: cover;
    display:flex;
    flex-direction: column;
    align-items: center;

    a {
        font-size: $size-4;
        text-align: center;
        background-color: rgba(254, 115, 64, 0.978);
        padding: 0.3rem;
        border-radius: 0.3rem;
        margin: 20px 20px 20px 20px;
        
        &:hover{
            filter: grayscale(50%);
        }
    }
}

.indexProductos{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;

    a {
        font-size: $size-4;
        text-align: center;
        background-color: rgba(254, 115, 64, 0.978);
        padding: 0.3rem;
        border-radius: 0.3rem;
        margin: 20px;

        &:hover {
            filter: grayscale(50%);
        }
     }
}

 .indexMapa {
     margin-bottom: 30px;
 }

@media screen and (max-width: 1023px) {
    h1 {
        font-size: $size-3;
        margin: 0;
      }
}
@media screen and (max-width: 767px) {
    .indexMenu {
      background-image: linear-gradient(to top, $color-principal, $color-gradiente);
      height: 200px;

      h1 {
        font-size: $size-3;
        margin: 0;
      }

      a {
        font-size: $size-6;
      }
    }
  
    .indexProductos {
        a {
            font-size: $size-6;
        }
    }
}