// Shadow
$shadow-color: $negro;
$shadow-blur: 10px;
$offset-x: 0;
$offset-y: 4px; //padding de cada columna
$shadow-blur-hover: $shadow-blur + $offset-y;
$offset-y-hover: $shadow-blur-hover + $offset-y;
$shadow: $offset-x $offset-y $shadow-blur $shadow-color;
$shadow-hover: $offset-x $offset-y-hover $shadow-blur-hover $shadow-color;

// Estilos Galeria
.galeria {
  padding: 50px;

  .carousel {
    max-width: 1000px;
    margin:auto;
  }
  .carousel-control-prev-icon {
    width: 4rem;
    height: 4rem;
    font-weight: 900;
  }

  .carousel-control-next-icon {
    @extend .carousel-control-prev-icon;
  }

  .carousel-indicators {
    font-weight: 900;
  }
}

//Estilo invitación a ver productos
.indexProductos{
  display:flex;
  flex-direction: column;
  align-items: center;

  .container {
    padding: 0;
    max-width: 1500px;
    width: auto;

    img {
      display:block;
      margin-bottom: 20px;
      box-shadow: $shadow;
      &:hover {
        transform: translateY(-$offset-y);
        box-shadow: $shadow-hover;
        transition: all 0.25s ease;
      }
    }
  }
}

//Estilo Mapa
.indexMapa {
    padding-block: 30px;
    max-width: 97%;
    margin: auto;
}

// Estilos para adaptarse a distintos dispositivos
@media screen and (max-width: 1199px) {
  .indexProductos {
    img {
      width: 300px;
    }
  }
}

@media screen and (max-width: 991px) {
  .indexProductos {
    h2 {
      font-size: $size-4;
    }

    img {
      width: 200px;
    }
  }
}

@media screen and (max-width: 767px) {
  .galeria {
    padding: 0;
    margin-top: 20px;
  }

  .indexProductos {
    img {
      width: 320px;
      margin: auto;
    }
  }
}
