// Estilos Galeria
.galeria {
  width: 100%;
  height: auto;
  margin-top: 20px;
  // max-height: 660px;
  // margin:auto;
  // padding: 20px;

  .carousel-control-prev-icon {
    width: 4rem;
    height: 4rem;
    font-weight: 900;
  }

  .carousel-control-next-icon {
    @extend .carousel-control-prev-icon;
  }

  .carousel-indicators {
    font-weight: 900;
  }
}

/* Shadow */
$shadow-color: hsla(0,0,0,0.25);
$shadow-blur: 0.625rem;
$offset-x: 0;
$offset-y: 0.25rem; //padding de cada columna
$shadow-blur-hover: $shadow-blur + $offset-y;
$offset-y-hover: $shadow-blur-hover + $offset-y;
$shadow: $offset-x $offset-y $shadow-blur $shadow-color;
$shadow-hover: $offset-x $offset-y-hover $shadow-blur-hover $shadow-color;

//Estilo invitación a ver productos
.indexProductos{
  display:flex;
  flex-direction: column;
  align-items: center;
  max-width: 1500px;
  margin: auto;

  .container {
    padding: 0;
    max-width: 1500px;
    width: auto;

    img {
      display:block;
      margin-bottom: 20px;
      box-shadow: $shadow;
      &:hover {
        transform: translateY(-$offset-y);
        box-shadow: $shadow-hover;
        transition: all 0.25s ease;
      }
    }
  }
}

//Estilo Mapa
.indexMapa {
    margin-block: 30px;
}

//Estilos para adaptarse a distintos dispositivos
@media screen and (max-width: 1401px) {
  .indexProductos {
    img {
      width: 300px;
    }
  }
}

@media screen and (max-width: 948px) {
  .indexMenu {
    max-width: 100%;

    a {
      font-size: $size-6;
    }
  }

  .indexProductos {
    h2 {
      font-size: $size-4;
    }
    img {
      width: 300px;
      margin: auto;
    }
  }
}
