// Variables
$color-menu: rgba(245, 245, 220, 0.473);

// Estilo Menu
.menu {
    max-width: 100%;

    .row {
        justify-content: space-evenly;

        article {
            display: block;
            background-color: $color-menu;
            height: auto;
            text-align: left;
            margin: 2%;
            padding: 2%;
            border: 3px solid $naranja-medio;

            p {
                @include texto(black, $size-5, 500);
            }

            h4 {
                @include texto(black, $size-4, 600);
            }
        }
    }
}

// Estilo Fondos
.fondo {
    margin-top: 20px;
    background-size: cover;
    background-position: center;
    width:100%;
    height: 67%;
}

.fondo1 {
    @extend .fondo;
    background-image: url(../img/menusandwich.jpg);
}

.fondo2 {
    @extend .fondo;
    margin-bottom: 20px;
    background-image: url(../img/menuensalada.jpg);
}

//Estilos para adaptarse a distintos dispositivos
@media screen and (max-width: 767px) {
    .menu {
        .row {
            article {
                p {
                    font-size: $size-6;
                }

                h4 {
                    font-size: $size-5;
                }
            }
        }
    }
}
