.produSeccion {
    margin-inline: 50px;
    margin-bottom: 40px;

    h2 {
        text-align: left;
        padding: 0;
    }
}

.card-title {
    font-weight: 600;
    text-align: center;
}

.card-text {
    text-align: center;
}

@media screen and (max-width: 767px) {
    h1 {
        font-size: $size-2;
    }
    .produSeccion {
        h2 {
            text-align: center;
            font-size: $size-4;
        }
    }
}

@media screen and (max-width: 575px) {
    h1 {
        font-size: $size-4;
    }

    .produSeccion {
        margin-inline: 10px;

        h2 {
            font-size: $size-6;
        }
    }
}
