@import url(https://allfont.es/allfont.css?fonts=holla);

/* Declaracion Variables */
$fuente: 'Holla', arial;

/*Tamaño Fuentes */
$size-1: 4rem;
$size-2: 2.5rem;
$size-3: 2rem;
$size-4: 1.6rem;
$size-5: 1.4rem;
$size-6: 1.2rem;
$size-7: 1rem;

/* Colores */
$naranja-oscuro: #FE3D11;
$naranja-medio: #FE6111;
$naranja-amarillo: #FE8311;
$amarillo-medio: #FEA211;
$amarillo-claro: #FEBD11;
$amarillo-fondo: #FEBF113D;

.titulosEstilo {
    color: black;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    padding:20px;
}

h1 {
    @extend .titulosEstilo;
    font-size: $size-1;
}

h2 {
    @extend .titulosEstilo;
    font-size: $size-2;
}

h3 {
    @extend .titulosEstilo;
    font-size: $size-3;
}

@mixin texto($color, $size, $weight) {
    color: $color;
    font-size: $size;
    font-weight: $weight;
}

li {
    list-style-type: none;
    display: inline;
    margin-right: 30px;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: black;
    display: inline-block;
}